:focus {
  outline: none;
}

.clear {
  clear: both;
  float: none;
}

#search_form {
  height: 41px;
  left: 300px;
  position: absolute;
  top: 28px;
  width: 380px;
}

#search_form div {
  float: left;
  margin: 0;
  padding: 0;
}

#search_form .form-actions input {
  background-color: transparent;
  background-image: url('../images/search_button.png');
  border: 0;
  cursor: pointer;
  height: 39px;
  text-indent: -9999px;
  width: 48px;
}

#search_form .form-actions input:hover {
  background-color: transparent;
}

#search_form .form-item-search-block-form input {
  background-color: transparent;
  background-image: url('../images/search_field.png');
  background-position: left;
  border: 0;
  height: 40px;
  margin-top: -1px;
  padding: 0;
  width: 329px;
}

#search_form .form-item-search-block-form input:focus {
  outline: none;
}

#nav_wrapper {
  background-color: #6d137d;
}

#navigation {
  box-shadow: 0 5px 5px #500d5c;
  -webkit-box-shadow: 0 5px 5px #500d5c;
  -moz-box-shadow: 0 5px 5px #500d5c;
}

#navigation #m-nav, #navigation #s-nav {
  margin: 0;
  padding: 0;
}

#navigation .nav {
  
}

#navigation .nav ul {
  list-style-type: none;
}

#navigation .nav ul li {
  float: left;
  font-family: 'CartoGothicStdBook';
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  text-transform: uppercase;
}

#navigation .nav ul li a {
  float: left;
  margin: 10px 20px 0 20px;
}

#navigation .nav ul li a:link { color: #4d4b50; text-decoration: none; }
#navigation .nav ul li a:visited { color: #4d4b50; text-decoration: none; }
#navigation .nav ul li a:hover { color: #4d4b50; text-decoration: none; }

#navigation .nav ul li .separator {
  float: left;
  margin: 6px 0 0 0 !important;
}

#navigation #primary-nav {
  margin-left: 10px;
  float: left;
}

#navigation #primary-nav ul li.active {
  background-color: #6d137d;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

#navigation #primary-nav ul li.active a:link { color: #FFF; text-decoration: none; }
#navigation #primary-nav ul li.active a:visited { color: #FFF; text-decoration: none; }
#navigation #primary-nav ul li.active a:hover { color: #FFF; text-decoration: none; }

#navigation #secondary-nav {
  float: right;
}

#navigation #secondary-nav a {
  margin: 10px 20px 0 0;
}

#navigation #secondary-nav img {
  float: left;
  margin: 10px 3px 0 20px;
}

#header-nav {
  top: 40px;
  position: absolute;
  left: 750px;
  width: 250px;
}

#header-nav ul#h-nav {
  margin: 0;
  padding: 0;
}

#header-nav ul#h-nav li {
  border: 0;
  float: left;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  margin: 0;
  text-transform: capitalize;
  padding: 0;
}

#header-nav ul#h-nav li a {
  float: left;
}

#header-nav ul#h-nav li a:link { color: #4d4b50; text-decoration: none; }
#header-nav ul#h-nav li a:visited { color: #4d4b50; text-decoration: none; }
#header-nav ul#h-nav li a:hover { color: #4d4b50; text-decoration: none; }

#header-nav .separator {
  float: left;
  margin: 0 10px 0 10px;
}

#carousel {
  color: #FFF;
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

#carousel .result-item {
  float: left;
  padding: 15px;
}

#carousel .result-item img {
  border: 2px solid #540f63;
}

#carousel .result-item .title, #carousel .result-item .creator {
  margin: 0;
  text-align: left;
  padding: 0;
}

#carousel .caroufredsel_wrapper {
  margin: 50px auto 0 auto !important;
}

#carousel #prev, #carousel #next {
  background-repeat: no-repeat;
  height: 45px;
  position: absolute;
  top: 75px;
  width: 45px;
}

#carousel #prev {
  background-image: url('../images/buttons/prev.png');
  left: 0px;
}

#carousel #next {
  background-image: url('../images/buttons/next.png');
  right: 0px;
}

#carousel-bar {
  background-image: url('../images/carousel_pager_bg.jpg');
  background-repeat: repeat-x;
  height: 29px;
  position: relative;
  width: 100%;
}

#carousel-bar #carousel_pager {
  position: absolute;
  left: 47%;
  top: 7px;
}

#carousel-bar #carousel_pager a span {
  display: none;
}

#carousel-bar #carousel_pager a {
  background-image: url('../images/icons/bullet.png');
  display: inline-block;
  height: 14px;
  width: 14px;
}

#carousel-bar #carousel_pager a.selected {
  background-image: url('../images/icons/bullet_a.png');
}
