:focus {
  outline: none;
}

.clear {
  clear: both;
  float: none;
}

.left, .col {
  float: left;
}

.right {
  float: right;
}

.input {
  background-color: #FFF;
  border: 1px solid #aaaaab;
  border-radius: 2px;
  color: #999999;
  padding: 3px 5px 3px 5px;
  width: 93%;
}

#search_form {
  height: 41px;
  left: 300px;
  position: absolute;
  top: 28px;
  width: 380px;
}

#search_form div {
  float: left;
  margin: 0;
  padding: 0;
}

#search_form .form-actions input {
  background-color: transparent;
  background-image: url('../images/search_button.png');
  border: 0;
  cursor: pointer;
  height: 39px;
  text-indent: -9999px;
  width: 48px;
}

#search_form .form-actions input:hover {
  background-color: transparent;
}

#search_form .form-item-search-block-form input {
  background-color: transparent;
  background-image: url('../images/search_field.png');
  background-position: left;
  border: 0;
  height: 40px;
  line-height: 43px;
  margin-top: -1px;
  padding: 0;
  padding-left: 9px;
  width: 320px;
}

#search_form .form-item-search-block-form input:focus {
  outline: none;
}

#nav_wrapper {
  background-color: #6d137d;
}

.front #navigation {
  box-shadow: 0 5px 5px #500d5c;
  -webkit-box-shadow: 0 5px 5px #500d5c;
  -moz-box-shadow: 0 5px 5px #500d5c;
}

#navigation #m-nav, #navigation #s-nav {
  margin: 0;
  padding: 0;
}

#navigation .nav {

}

#navigation .nav ul {
  list-style-type: none;
}

#navigation .nav ul li {
  float: left;
  font-family: 'CartoGothicStdBook';
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  text-transform: uppercase;
}

#navigation .nav ul li a {
  float: left;
  margin: 10px 20px 0 20px;
}

#navigation .nav ul li a:link { color: #4d4b50; text-decoration: none; }
#navigation .nav ul li a:visited { color: #4d4b50; text-decoration: none; }
#navigation .nav ul li a:hover { color: #4d4b50; text-decoration: none; }

#navigation .nav ul li .separator {
  float: left;
  margin: 6px 0 0 0 !important;
}

#navigation #primary-nav {
  margin-left: 10px;
  float: left;
}

#navigation #primary-nav ul li.active {
  background-color: #6d137d;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

#navigation #primary-nav ul li.active a:link { color: #FFF; text-decoration: none; }
#navigation #primary-nav ul li.active a:visited { color: #FFF; text-decoration: none; }
#navigation #primary-nav ul li.active a:hover { color: #FFF; text-decoration: none; }

#navigation #secondary-nav {
  float: right;
}

#navigation #secondary-nav a {
  margin: 10px 20px 0 0;
}

#navigation #secondary-nav img {
  float: left;
  margin: 10px 3px 0 20px;
}

#header-nav {
  top: 40px;
  position: absolute;
  left: 750px;
  width: 250px;
}

#header-nav ul#h-nav {
  margin: 0;
  padding: 0;
}

#header-nav ul#h-nav li {
  border: 0;
  float: left;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  margin: 0;
  text-transform: capitalize;
  padding: 0;
}

#header-nav ul#h-nav li a {
  float: left;
}

#header-nav ul#h-nav li a:link { color: #4d4b50; text-decoration: none; }
#header-nav ul#h-nav li a:visited { color: #4d4b50; text-decoration: none; }
#header-nav ul#h-nav li a:hover { color: #4d4b50; text-decoration: none; }

#header-nav .separator {
  float: left;
  margin: 0 10px 0 10px;
}

#carousel {
  color: #FFF;
  height: 300px;
  margin: 0px auto;
  position: relative;
  width: 1000px;
}

#carousel .result-item {
  float: left;
  padding: 15px;
  position: relative;
}

#carousel .result-item img {
  border: 2px solid #540f63;
}

#carousel .active {
  cursor: pointer;
}

#carousel .active img {
  height: 240px;
  width: 170px;
}

#carousel .inactive {
  margin-top: 42px;
}

#carousel .result-item .title, #carousel .result-item .creator {
  margin: 0;
  text-align: left;
  padding: 0;
}

#carousel .result-item .title {
  font-family: 'DroidSerifRegular';
  font-size: 15px;
  line-height: 18px;
}

#carousel .result-item .creator {
  color: #b689be;
  font-family: 'CartoGothicStdBook';
  font-size: 12px;
  line-height: 16px !important;
}

#carousel .result-item .item-overlay {
  background-color: #000;
  bottom: 25px;
  display: none;
  height: 45px;
  left: 17px;
  opacity: 0.5;
  position: absolute;
  width: 170px;
}

#carousel .active>p {
  display: none;
}

#carousel .result-item .item-overlay-details {
  bottom: 18px;
  display: none;
  height: 45px;
  left: 20px;
  position: absolute;
  width: 170px;
}

#carousel .result-item .result-item-details {
  cursor: default;
  height: 170px;
  position: absolute;
  top: 10px;
  right: -330px;
  width: 320px;
  z-index: 20;
}

#carousel .result-item .result-item-details h1 {
  font-size: 25px;
  line-height: 25px;
  margin: 0 0 10px 0;
  padding: 0;
}

#carousel .result-item .result-item-details p {
  font-size: 13px;
  margin: 0;
}

#carousel .result-item .result-item-details .creator {
  color: #00aeef;
}

#carousel .result-item .result-item-details .description {
  margin-top: 5px;
}

#carousel .result-item .result-item-details .subject {
  margin-top: 10px;
}

#carousel .result-item .result-item-details .subject .hightlight {
  color: #f7941d;
}

#carousel .result-item .result-item-details .stats {
  margin-top: 10px;
}

#carousel .result-item .result-item-details .stats img {
  margin-top: 2px;
}

#carousel .result-item .result-item-details .stats .rating-label {
  display: inline-block;
  margin-right: 10px;
}

#carousel .result-item .result-item-details .stats .rating-count {
  color: #b689be;
}

#carousel .result-item .result-item-details .stats .comment-count {
  color: #00aeef;
  display: inline-block;
  margin-left: 15px;
}

#carousel .result-item .result-item-details img {
  border: 0;
  height: 15px;
  width: 15px;
}

#carousel .result-item-details .stats * {
  float: left;
}

#carousel .result-item-details {
  display: none;
}

#carousel .caroufredsel_wrapper {
  margin: 30px auto 0 auto !important;
}

#carousel #prev, #carousel #next {
  background-repeat: no-repeat;
  height: 45px;
  position: absolute;
  top: 105px;
  width: 45px;
}

#carousel #prev {
  background-image: url('../images/buttons/prev.png');
  left: 0px;
}

#carousel #next {
  background-image: url('../images/buttons/next.png');
  right: 0px;
}

#carousel .carousel-close {
  bottom: -26px;
  position: absolute;
  right: 10px;
  height: 24px;
  width: 57px;
  z-index: 30;
}

#carousel-bar {
  background-image: url('../images/carousel_pager_bg.jpg');
  background-repeat: repeat-x;
  height: 29px;
  position: relative;
  width: 100%;
}

#carousel-bar #carousel-pager {
  position: absolute;
  left: 47%;
  top: 7px;
}

#carousel-bar #carousel-pager a span {
  display: none;
}

#carousel-bar #carousel-pager a {
  background-image: url('../images/icons/bullet_a.png');
  cursor: default;
  display: inline-block;
  height: 14px;
  width: 14px;
}

#carousel-bar #carousel-pager a.selected {
  background-image: url('../images/icons/bullet.png');
}

#carousel-menu {
  position: absolute;
  left: 105px;
  top: -20px;
  z-index: 10;
}

#carousel-menu h2 {
  font-size: 20px;
  margin: 0;
}

#carousel-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#carousel-menu ul li {
  float: left;
  margin-right: 18px;
}

#carousel-menu ul li a:link { color: #b689be; text-decoration: none; }
#carousel-menu ul li a:hover, #carousel-menu ul li a.active { color: #00aeef !important; text-decoration: underline; }
#carousel-menu ul li a:visited { color: #b689be; text-decoration: none; }

#content {
  margin-top: 30px;
}

#content .col .image {
  border: 2px solid #c6c6c6;
  border-radius: 2px;
}

.ting-object-additional .col h2 {
  margin: 0;
  padding: 0;
}

.grid_20 {
  margin: 0;
}

#content .news .col {
  width: 234px;
}

#content .col h3 {
  color: #6d137d;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

#content .col p {
  color: #4d4b50;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

#content .col p.where {
  color: #76ac10;
  font-size: 12px;
  line-height: 18px;
}

#content .col .creator {
  color: #76ac10;
  font-size: 12px;
}

#content .col .creator .by {
  color: #999999;
}

#content .col p.when {
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}

#content .col p.more {
  float: right;
}

#content .col .icons {
  margin-top: 6px;
}

#content .news .block {
  margin-bottom: 9px;
}

#content input.button {
  padding: 1px 7px;
  background-color: #FFF;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #0681b0;
  font-size: 11px;
  margin: 0;
  cursor: pointer;
}
#content input.button:hover {
  background-color: #e7e7e7;
}

#content a:link { color: #0681b0; text-decoration: none; }
#content a:visited { color: #0681b0; text-decoration: none; }
#content a:hover { color: #0681b0; text-decoration: underline; }

#content p.more, #content p.rss {
  height: 24px;
  margin-top: 3px;
}

#content p.rss a {
  margin-top: 5px;
}

#content .recommend {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  margin-top: 25px;
}

#content .recommend .col, #content .recommend .top-bar {
  padding: 10px;
}

#content .recommend .top-bar {
  border-bottom: 1px solid #c6c6c6;
  height: 16px;
}

#content .recommend .top-bar h1 {
  color: #4d4b50;
  float: left;
  font-size: 17px;
  margin: 0;
  padding: 0;
}

#content .recommend .top-bar .bullets {
  float: right;
}

#content .recommend .top-bar .bullets a {
  background-image: url('../images/circle_off.png');
  background-repeat: no-repeat;
  float: left;
  display: block;
  height: 14px;
  margin-left: 2px;
  width: 14px;
}

#content .recommend .top-bar .bullets a.active {
  background-image: url('../images/circle_on.png');
  background-repeat: no-repeat;
}

#content .recommend .col .social {
  float: left;
  margin-top: 5px;
}

#content .recommend .col .recommend-button {
  float: right;
  margin-top: 2px;
}

#content .users {
  margin-top: 25px;
}

#content .users > .col {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
}

#content .users .block {
  margin-top: 13px;
}

#content .users .block .user-rating {
  margin-top: 3px;
}

#content .users .block .user-rating img {
  float: left;
}

#content .users .block .user-rating .rating-count {
  color: #999999;
  display: inline-block;
  float: left;
  font-size: 12px;
  line-height: 18px;
  margin-left: 2px;
}

#content .users .block .favorites {
  float: right;
  margin: 20px 0 0 0;
}

#content .users .block .description {
  color: #999999;
  font-size: 12px;
  line-height: 16px;
  margin: 3px 0 3px 0;
}

#content .users .bordered {
  border-bottom: 1px dashed #999999;
  margin-bottom: 14px;
  padding-bottom: 10px;
}

#content .calendar {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  padding: 10px;
  width: 205px;
}

#content .calendar .block {
  margin-bottom: 14px;
}

#content .calendar .col > .where {
  margin-top: 4px;
}

#content .calendar > h3 {
  margin: -3px 0 0 5px;
}

#content .info-boxes .block {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  padding: 10px;
}

#content .info-boxes .block .fields input {
  margin-top: 10px;
}

#content .info-boxes .block .submit input {
  background-color: #FFF;
  border: 1px solid #aaaaab;
  border-radius: 2px;
  color: #6d137d;
  font-weight: bold;
  text-transform: uppercase;
}

#content .info-boxes .block {
  margin-bottom: 20px;
}

#content .info-boxes .block h3 {
  font-size: 17px;
}

#content .info-boxes .block .additional {
  margin-top: 10px;
}

#content .info-boxes .block .additional img {
  margin-top: 1px;
}

#content .info-boxes .block .additional .register {
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  margin: 3px 0 0 3px;
}

#content .info-boxes .block .days {
  color: #4d4b50;
  font-size: 13px;
  margin-top: 10px;
}

#content .info-boxes .block .on-map {
  margin-top: 8px;
}

#content .info-boxes .block .on-map .map-link {
  margin: 20px 0 0 3px;
}

#content .info-boxes .block .v-list {
  list-style-type: none;
  list-style-image: url('../images/icon-v.png');
  margin: 10px 0 0 23px;
  padding: 0;
}

#content .info-boxes .block .card {
  margin-top: 10px;
}

#content .info-boxes .block .card p {
  margin-top: 9px;
}

#footer {
  margin-top: 70px;
}

#footer #footer-menu a:link { color: #0681b0; text-decoration: none; }
#footer #footer-menu a:visited { color: #0681b0; text-decoration: none; }
#footer #footer-menu a:hover { color: #0681b0; text-decoration: underline; }

#footer #footer-menu .col {
  width: 20%;
}

#footer #footer-menu h3 {
  font-size: 17px;
  line-height: 25px;
  margin: 40px 0 5px 0;
  padding: 0;
}

#footer #footer-menu ul {
  margin: 0 0 0 24px;
  padding: 0;
}

#footer #footer-menu ul li {
  color: #6d137d;
  font-size: 13px;
  line-height: 25px;
}

#footer #footer-menu p.credits {
  color: #999999;
  font-size: 13px;
  line-height: 25px;
}

#footer #footer-menu a {
  margin-right: 17px;
}

#voxb {
  margin-top: 20px;
}

#voxb input {
  background-color: transparent;
}

#voxb input:hover {
  background-color: transparent;
}

#voxb #pager-block {
  width: 210px;
}

#voxb #pager-block ul {
  margin: 0;
  padding: 0;
}

#voxb #pager-block ul li {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0 !important;
}

#voxb #pager-block ul li a {
  margin: 0;
  padding: 3px 0 0 0;
  outline: none;
  height: 25px;
  width: 25px;
}

.voxb-details .voxb-rating .rating-star {
  height: 15px;
  width: 15px;
}

.voxb-details .voxb-rating .inactive {
  background-image: url('../images/search-star-off.png');
}

.voxb-details .voxb-rating .active {
  background-image: url('../images/search-star-on.png');
}

.voxb-details .voxb-rating p {
  color: #4d4b50;
  font-family: 'DroidSerifRegular';
  font-size: 13px !important;
  line-height: 16px !important;
}

.voxb-details .voxb-rating .rating-count {
  color: #999999 !important;
  font-family: 'CartoGothicStdBook' !important;
  font-size: 12px !important;
  line-height: 18px !important;
  margin-left: 5px !important;
}

.voxb-details .voxb-reviews .review-count {
  color: #0681b0 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  margin-left: 15px !important;
}

