:focus {
  outline: none;
}

.clear {
  clear: both;
  float: none;
}

#search_form {
  height: 41px;
  left: 300px;
  position: absolute;
  top: 28px;
  width: 380px;
}

#search_form div {
  float: left;
  margin: 0;
  padding: 0;
}

#search_form .form-actions input {
  background-color: transparent;
  background-image: url('../images/search_button.png');
  border: 0;
  cursor: pointer;
  height: 39px;
  text-indent: -9999px;
  width: 48px;
}

#search_form .form-actions input:hover {
  background-color: transparent;
}

#search_form .form-item-search-block-form input {
  background-color: transparent;
  background-image: url('../images/search_field.png');
  background-position: left;
  border: 0;
  height: 40px;
  margin-top: -1px;
  padding: 0;
  width: 329px;
}

#search_form .form-item-search-block-form input:focus {
  outline: none;
}

#nav_wrapper {
  background-color: #6d137d;
}

.front #navigation {
  box-shadow: 0 5px 5px #500d5c;
  -webkit-box-shadow: 0 5px 5px #500d5c;
  -moz-box-shadow: 0 5px 5px #500d5c;
}

#navigation #m-nav, #navigation #s-nav {
  margin: 0;
  padding: 0;
}

#navigation .nav {
  
}

#navigation .nav ul {
  list-style-type: none;
}

#navigation .nav ul li {
  float: left;
  font-family: 'CartoGothicStdBook';
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  text-transform: uppercase;
}

#navigation .nav ul li a {
  float: left;
  margin: 10px 20px 0 20px;
}

#navigation .nav ul li a:link { color: #4d4b50; text-decoration: none; }
#navigation .nav ul li a:visited { color: #4d4b50; text-decoration: none; }
#navigation .nav ul li a:hover { color: #4d4b50; text-decoration: none; }

#navigation .nav ul li .separator {
  float: left;
  margin: 6px 0 0 0 !important;
}

#navigation #primary-nav {
  margin-left: 10px;
  float: left;
}

#navigation #primary-nav ul li.active {
  background-color: #6d137d;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

#navigation #primary-nav ul li.active a:link { color: #FFF; text-decoration: none; }
#navigation #primary-nav ul li.active a:visited { color: #FFF; text-decoration: none; }
#navigation #primary-nav ul li.active a:hover { color: #FFF; text-decoration: none; }

#navigation #secondary-nav {
  float: right;
}

#navigation #secondary-nav a {
  margin: 10px 20px 0 0;
}

#navigation #secondary-nav img {
  float: left;
  margin: 10px 3px 0 20px;
}

#header-nav {
  top: 40px;
  position: absolute;
  left: 750px;
  width: 250px;
}

#header-nav ul#h-nav {
  margin: 0;
  padding: 0;
}

#header-nav ul#h-nav li {
  border: 0;
  float: left;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  margin: 0;
  text-transform: capitalize;
  padding: 0;
}

#header-nav ul#h-nav li a {
  float: left;
}

#header-nav ul#h-nav li a:link { color: #4d4b50; text-decoration: none; }
#header-nav ul#h-nav li a:visited { color: #4d4b50; text-decoration: none; }
#header-nav ul#h-nav li a:hover { color: #4d4b50; text-decoration: none; }

#header-nav .separator {
  float: left;
  margin: 0 10px 0 10px;
}

#carousel {
  color: #FFF;
  height: 300px;
  margin: 0px auto;
  position: relative;
  width: 1000px;
}

#carousel .result-item {
  float: left;
  padding: 15px;
  position: relative;
}

#carousel .result-item img {
  border: 2px solid #540f63;
}

#carousel .active {
  cursor: pointer;
}

#carousel .active img {
  height: 240px;
  width: 170px;
}

#carousel .inactive {
  margin-top: 42px;
}

#carousel .result-item .title, #carousel .result-item .creator {
  margin: 0;
  text-align: left;
  padding: 0;
}

#carousel .result-item .title {
  font-family: 'DroidSerifRegular';
  font-size: 15px;
  line-height: 18px;
}

#carousel .result-item .creator {
  color: #b689be;
  font-family: 'CartoGothicStdBook';
  font-size: 12px;
  line-height: 16px !important;
}

#carousel .result-item .item-overlay {
  background-color: #000;
  bottom: 25px;
  display: none;
  height: 45px;
  left: 17px;
  opacity: 0.5;
  position: absolute;
  width: 170px;
}

#carousel .active>p {
  display: none;
}

#carousel .result-item .item-overlay-details {
  bottom: 18px;
  display: none;
  height: 45px;
  left: 20px;
  position: absolute;
  width: 170px;
}

#carousel .result-item .result-item-details {
  cursor: default;
  height: 170px;
  position: absolute;
  top: 10px;
  right: -330px;
  width: 320px;
  z-index: 20;
}

#carousel .result-item .result-item-details h1 {
  font-size: 25px;
  line-height: 25px;
  margin: 0 0 10px 0;
  padding: 0;
}

#carousel .result-item .result-item-details p {
  font-size: 13px;
  margin: 0;
}

#carousel .result-item .result-item-details .creator {
  color: #00aeef;
}

#carousel .result-item .result-item-details .description {
  margin-top: 5px;
}

#carousel .result-item .result-item-details .subject {
  margin-top: 10px;
}

#carousel .result-item .result-item-details .subject .hightlight {
  color: #f7941d;
}

#carousel .result-item .result-item-details .stats {
  margin-top: 10px;
}

#carousel .result-item .result-item-details .stats img {
  margin-top: 2px;
}

#carousel .result-item .result-item-details .stats .rating-label {
  display: inline-block;
  margin-right: 10px;
}

#carousel .result-item .result-item-details .stats .rating-count {
  color: #b689be;
}

#carousel .result-item .result-item-details .stats .comment-count {
  color: #00aeef;
  display: inline-block;
  margin-left: 15px;
}

#carousel .result-item .result-item-details img {
  border: 0;
  height: 15px;
  width: 15px;
}

#carousel .result-item-details .stats * {
  float: left;
}

#carousel .result-item-details {
  display: none;
}

#carousel .caroufredsel_wrapper {
  margin: 30px auto 0 auto !important;
}

#carousel #prev, #carousel #next {
  background-repeat: no-repeat;
  height: 45px;
  position: absolute;
  top: 105px;
  width: 45px;
}

#carousel #prev {
  background-image: url('../images/buttons/prev.png');
  left: 0px;
}

#carousel #next {
  background-image: url('../images/buttons/next.png');
  right: 0px;
}

#carousel .carousel-close {
  bottom: -25px;
  position: absolute;
  right: 0;
  height: 24px;
  width: 57px;
  z-index: 30;
}

#carousel-bar {
  background-image: url('../images/carousel_pager_bg.jpg');
  background-repeat: repeat-x;
  height: 29px;
  position: relative;
  width: 100%;
}

#carousel-bar #carousel-pager {
  position: absolute;
  left: 47%;
  top: 7px;
}

#carousel-bar #carousel-pager a span {
  display: none;
}

#carousel-bar #carousel-pager a {
  background-image: url('../images/icons/bullet.png');
  cursor: default;
  display: inline-block;
  height: 14px;
  width: 14px;
}

#carousel-bar #carousel-pager a.selected {
  background-image: url('../images/icons/bullet_a.png');
}

#carousel-menu {
  position: absolute;
  left: 105px;
  top: -20px;
  z-index: 10;
}

#carousel-menu h2 {
  font-size: 20px;
  margin: 0;
}

#carousel-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#carousel-menu ul li {
  float: left;
  margin-right: 18px;
}

#carousel-menu ul li a:link { color: #b689be; text-decoration: none; }
#carousel-menu ul li a:hover, #carousel-menu ul li a.active { color: #00aeef !important; text-decoration: underline; }
#carousel-menu ul li a:visited { color: #b689be; text-decoration: none; }

#content {
  margin-top: 30px;
}

#content  .col {
  float: left;
}

.ting-object-additional .col h2 {
  margin: 0;
  padding: 0;
}

#content .news .col {
  width: 235px;
}

#content h3 {
  color: #6d137d;
  font-size: 15px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

#content p {
  color: #4d4b50;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

#content p.where {
  color: #76ac10;
  font-size: 12px;
  line-height: 18px;
}

#content p.when {
  color: #999999;
  font-size: 12px;
  line-height: 18px;
}

#content p.more {
  float: right;
}

#content p.rss {
  float: left;
  font-size: 12px;
  line-height: 25px;
}

#content p.rss img {
  float: left;
  margin: 4px 4px 0 0;
}

#content .block {
  margin-bottom: 9px;
}

#content input.button {
  background-color: #FFF;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  color: #0681b0;
  font-size: 12px;
  height: 24px;
}

#content p.rss a:link { color: #0681b0; text-decoration: none; }
#content p.rss a:hover { color: #0681b0; text-decoration: none; }
#content p.rss a:visited { color: #0681b0; text-decoration: none; }

#content p.more, #content p.rss {
  margin-top: 10px;
}