:focus {
  outline: none;
}

.clear {
  clear: both;
  float: none;
}

#search_form {
  height: 41px;
  left: 300px;
  position: absolute;
  top: 28px;
  width: 380px;
}

#search_form div {
  float: left;
  margin: 0;
  padding: 0;
}

#search_form .form-actions input {
  background-color: transparent;
  background-image: url('../images/search_button.png');
  border: 0;
  cursor: pointer;
  height: 39px;
  text-indent: -9999px;
  width: 48px;
}

#search_form .form-actions input:hover {
  background-color: transparent;
}

#search_form .form-item-search-block-form input {
  background-color: transparent;
  background-image: url('../images/search_field.png');
  background-position: left;
  border: 0;
  height: 40px;
  margin-top: -1px;
  width: 329px;
}

#search_form .form-item-search-block-form input:focus {
  outline: none;
}

#navigation .nav {
  
}

#navigation .nav ul {
  list-style-type: none;
}

#navigation .nav ul li {
  float: left;
  font-family: 'CartoGothicStdBook';
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  text-transform: uppercase;
}

#navigation .nav ul li a {
  float: left;
  margin: 10px 20px 0 20px;
}

#navigation .nav ul li a:link { color: #4d4b50; text-decoration: none; }
#navigation .nav ul li a:visited { color: #4d4b50; text-decoration: none; }
#navigation .nav ul li a:hover { color: #4d4b50; text-decoration: none; }

#navigation .nav ul li .separator {
  float: left;
  margin: 6px 0 0 0 !important;
}

#navigation #primary-nav {
  margin-left: 10px;
  float: left;
}

#navigation #primary-nav ul li.active {
  background-color: #6d137d;
}

#navigation #primary-nav ul li.active a:link { color: #FFF; text-decoration: none; }
#navigation #primary-nav ul li.active a:visited { color: #FFF; text-decoration: none; }
#navigation #primary-nav ul li.active a:hover { color: #FFF; text-decoration: none; }

#navigation #secondary-nav {
  float: right;
}

#navigation #secondary-nav a {
  margin: 10px 20px 0 0;
}

#navigation #secondary-nav img {
  float: left;
  margin: 10px 3px 0 20px;
}

#header-nav {
  top: 40px;
  position: absolute;
  left: 750px;
  width: 250px;
}

#header-nav ul#h-nav li {
  border: 0;
  float: left;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  margin: 0;
  text-transform: capitalize;
  padding: 0;
}

#header-nav ul#h-nav li a {
  float: left;
}

#header-nav ul#h-nav li a:link { color: #4d4b50; text-decoration: none; }
#header-nav ul#h-nav li a:visited { color: #4d4b50; text-decoration: none; }
#header-nav ul#h-nav li a:hover { color: #4d4b50; text-decoration: none; }

#header-nav .separator {
  float: left;
  margin: 0 10px 0 10px;
}