.sort-hidden, .search-query-hidden {
  display: none;
}

#carousel-wrapper {
  padding: 10px 20px;
}

#carousel {
  position: relative;
}

#carousel .result-item {
  float: left;
  padding: 15px;
  position: relative;
  cursor: pointer;
}

#carousel .result-item .title,
#carousel .result-item .creator {
  margin: 0;
  text-align: left;
  padding: 0;
}

#carousel .result-item .title {
  line-height: 18px;
  font-size: 14px;
}

#carousel .result-item.active .creator,
#carousel .result-item.inactive .creator {
  line-height: 16px !important;
  font-size: 11px;
}
#carousel .result-item.inactive .title,
#carousel .result-item.inactive .creator {
   width: 120px;
}

#carousel .result-item.active .title,
#carousel .result-item.inactive .title {
  font-size: 14px;
  line-height: 18px;
}

#carousel .active > p {
  display: none;
}

#carousel .result-item .result-item-details {
  background-color: #ffffff;
  cursor: default;
  display: none;
  position: absolute;
  top: 15px;
  right: -305px;
  width: 200%;
  z-index: 20;
}

#carousel .result-item .result-item-details h1 {
  font-size: 25px;
  line-height: 25px;
  margin: 0 0 10px 0;
  padding: 0;
}

#carousel .result-item .result-item-details p {
  font-size: 13px;
  margin: 0;
}

#carousel .result-item .result-item-details .description {
  line-height: 20px;
  margin-top: 5px;
  overflow: hidden;
  width: 300px;
}

#carousel .result-item .result-item-details .subject {
  margin-top: 10px;
}

#carousel .result-item .result-item-details .stats {
  margin-top: 10px;
}

#carousel .result-item .result-item-details .stats img {
  margin-top: 2px;
}

#carousel .result-item .result-item-details .stats .rating-label {
  display: inline-block;
  line-height: 1.7em !important;
  margin-right: 10px;
}

#carousel .result-item .result-item-details .stats .comment-count,
#carousel .result-item .result-item-details .stats .rating-count {
  display: inline-block;
}

#carousel .result-item .result-item-details .stats .comment-count {
  margin-left: 15px;
}

#carousel .result-item .result-item-details img {
  height: 15px;
  width: 15px;
}

#carousel .result-item-details .stats * {
  float: left;
}

#carousel .caroufredsel_wrapper {
  clear: both;
  margin: 0 auto !important;
}

#carousel #carousel-pager {
  text-align: center;
}

#carousel #carousel-pager a {
  background: #000000;
  cursor: default;
  display: inline-block;
  height: 14px;
  margin: 0 5px;
  width: 14px;
}

#carousel #carousel-pager a span {
  display: none;
}

#carousel-search-tabs {
  overflow: hidden;
}
#carousel-search-tabs .search-tabs li {
  float: left;
  margin-right: 15px;
}
#carousel-search-tabs .search-tabs li.active a {
  text-decoration: underline;
}

.item-operations .operation {
  float: left;
}

.item-operations .operation.reserve-item {
  margin-left: 10px;
}
