


/**
 * Search control form.
 */
#search-controls-form .form-type-select.form-item-size {
  margin-left: 29px;
}

.pane-ding-toggle-format-toggle {
  width: 47px;
}

.pane-ding-toggle-format-toggle .ding-toggle-format-label {
  display: none;
}

.pane-ding-toggle-format-toggle a.ding-toggle-format-long img.
.pane-ding-toggle-format-toggle a.ding-toggle-format-short img {
  width: 47px;
  height: 25px;
}

.pane-ding-toggle-format-toggle a.ding-toggle-format-short,
.pane-ding-toggle-format-toggle a.ding-toggle-format-long {
  width: 47px;
  height: 25px;
  display: block;
}

.pane-ding-toggle-format-toggle a.ding-toggle-format-short {
  background: url("../images/display-format-button.png") no-repeat 0 -25px transparent;
}

.pane-ding-toggle-format-toggle a.ding-toggle-format-long {
  background: url("../images/display-format-button.png") no-repeat 0 0 transparent;
}

.pane-ding-availability-legend .availability-legend {
  border-bottom: 1px solid #E7E7E6;
  border-top: 2px solid #E7E7E6;
  height: 31px;
  line-height: 31px;
  margin-bottom: 27px;
}

.pane-ding-availability-legend .available {
  margin: 0 37px 0 0;
}

.pane-ding-availability-legend .available-ill {
  margin: 0 37px;
}

.pane-ding-availability-legend .on-loan {
  margin: 0 37px;
}

.pane-ding-availability-legend .unavailable {
  margin: 0 0 0 37px;
}


/**
 * Search results container.
 */
.pane-search-result ol {
  padding: 0;
  margin: 0;
}


/**
 * Search result object.
 */
.ting-object-search-result-additional .ting-cover-main {
  float: left;
  margin-right: 25px;
}

.ting-object-search-result-additional .ting-cover-main {
  height: 200px;
  width: 120px;
}

.ting-object-search-result-additional .ting-cover-main img {
  border: 2px solid #999999;
  border-radius: 2px 2px 2px 2px;
  padding: 1px;
}

.ting-object-search-result-additional .ting-cover-main img:hover {
  border: 2px solid #6D137D;
  border-radius: 3px;
  padding: 1px;
}

.ting-object-search-result-additional .ting-title {
  width: 370px;
  font-size: 13px;
}

.ting-object-search-result-additional .ting-title h2 {
  font-size: 20px;
  color: #6d137d;
  margin: 5px 0 7px 0;
  padding: 0px;
  line-height: 30px;
}

.ting-object-search-result-additional .ting-title h2 a {
  color: #6d137d;
}

.ting-object-search-result-additional .ting-author {
  width: 370px;
  font-size: 13px;
  color: #999999;
}

#content .ting-object-search-result-additional .ting-author a {
  color: #76AC10;
}
          
.ting-object-search-result-additional .ting-abstract {
  width: 370px;
  font-size: 13px;
  color: #4d4b50;
}

.ting-object-search-result-additional .ting-abstract .field-name-ting-abstract {
  padding-bottom: 50px;
}

.ting-object-search-result-additional .ting-collection-types li {
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  list-style: none;
  clear: both;
}

.ting-object-search-result-additional .ting-actions form .form-submit {
  background-image: url('../images/buttons/search-results-reserver.png');
  background-color: transparent;
  font-size: 11px;
  width: 85px;
  height: 20px;
  padding: 0 0 0 21px;
  margin: 0 auto;
  line-height: 20;
  text-align: left;
  border: 0;
}




.pane-content ul.pager {
  padding: 0px;
  margin: 10px 0;
}

#content .pane-content ul.pager li {
  padding: 0px;
  margin: 0px;
}

#content .pane-content ul.pager li a:hover,
#content .pane-content ul.pager li a:link,
#content .pane-content ul.pager li a {
  text-decoration: none;
  color: #999999;
  padding: 10px;
}

#content .pane-content ul.pager li.pager-first a:hover,
#content .pane-content ul.pager li.pager-previous a:hover,
#content .pane-content ul.pager li.pager-item a:hover,
#content .pane-content ul.pager li.pager-next a:hover,
#content .pane-content ul.pager li.pager-last a:hover {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  padding: 9px;
  // color: #999999;
}

#content .pane-content .pager li .pager-current a {
// 0681b0
  color: #6d137d;
  padding: 9px;
}







