html, body {height: 100%;}

#page-wrapper {
  min-height: 100%;
}

#page {
  overflow:auto;
  padding-bottom: 366px;
}

/* Opera Fix */
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}


/**
 * FONTS
 */

@font-face {
  font-family: 'CartoGothicStdBook';
  src: url('../fonts/CartoGothicStd-Book-webfont.eot');
  src: url('../fonts/CartoGothicStd-Book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CartoGothicStd-Book-webfont.woff') format('woff'),
       url('../fonts/CartoGothicStd-Book-webfont.ttf') format('truetype'),
       url('../fonts/CartoGothicStd-Book-webfont.svg#CartoGothicStdBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerifRegular';
  src: url('../fonts/DroidSerif-Regular-webfont.eot');
  src: url('../fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DroidSerif-Regular-webfont.woff') format('woff'),
       url('../fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
       url('../fonts/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**
 * GENERAL
 */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font: 13px/22px 'CartoGothicStdBook', Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  color: #4D4B50;
}


/**
 * HEADLINES
 */

h1, h2, h3 {
  padding: 11px 0;
  font: 11px/16px 'DroidSerifRegular', Helvetica, Arial, sans-serif;
}

h3.title a {
  color: #6D137D;
  text-decoration: none;
}

.purple h1, .purple h2, .purple h3 {
  color: #6D137D;
}

.grey h1, .grey h2, .grey h3 {
  color: #4D4B50;
}

.green h1, .green h2, .green h3 {
  color: #76AC10;
}

h1 { font-size: 21px; }
h2 { font-size: 17px; }
h3 { font-size: 15px; }


/**
 * GRIDS
 */

.oneBlock {
  width: 226px;
}

.twoBlocks {
  width: 476px;
}

.threeBlocks {
  width: 726px;
}

.fourBlocks {
  width: 976px;
}

.oneBlock, .twoBlocks, .threeBlocks, .fourBlocks {
  margin-left: 12px;
  margin-right: 12px;
  float: left;
  margin-bottom: 12px;
}

.oneBlock.left, .twoBlocks.left, .threeBlocks.left, .fourBlocks.left {
  margin-left: 0px;
}

.oneBlock.right, .twoBlocks.right, .threeBlocks.right, .fourBlocks.right {
  margin-right: 0px;
}

.oneBlock.border, .twoBlocks.border, .threeBlocks.border, .fourBlocks.border {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #C6C6C6;
}

.messages.error {
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
}

.oneBlock.border { width: 224px; }
.twoBlocks.border { width: 474px; }
.threeBlocks.border { width: 724px; }
.fourBlocks.border { width: 974px; }

  .oneBlock.border.dark, .twoBlocks.border.dark, .threeBlocks.border.dark, .fourBlocks.border.dark {
    background: #F7F7F7;
  }

.blockSeperator {
  height: 12px;
  width: 12px;
  clear: both;
}

/**
 * HEADER
 */

div#header
{
  background: url("../images/header_bg.png");
}

  div#header div.bg {
    width: 1100px;
    margin: 0 auto;
    background: url("../images/header_img.jpg");
  }

    div#header div.bg div.section {
      height: 171px;
      margin: 0 auto;
    }

      div#header div.bg ul {
        margin: 0 auto;
        list-style: none;
      }

        div#header div.bg ul li {
          float: right;
          padding: 0px 8px 0px 8px;
          border-left: 1px solid #C6C6C6;
          line-height: 16px;
        }

          div#header div.bg ul li.first {
            border: none;
          }

          div#header div.bg ul li a {
            font: 12px/16px 'CartoGothicStdBook', Helvetica, Arial, sans-serif;
            text-decoration: none;
            color: #4D4B50;
          }

            div#header div.bg ul li a:hover {
              text-decoration: underline;
              color: #0681B0;
            }

/**
 * NAVIGATION
 */

div#navigation {
  background: url("../images/nav_bg.png");
  margin-bottom: 48px;
}

div#navigation h2 { display: none; }

  div#navigation div.section {
    height: 36px;
    margin: 0 auto;
  }

  div#navigation ul {
    margin: 0 auto;
    list-style: none;
    text-transform: uppercase;
  }

  div#navigation ul a {
    font: 18px/36px 'CartoGothicStdBook', Helvetica, Arial, sans-serif;
  }

    div#navigation ul .nav_separator {
      height: 36px;
      width: 1px;
      background: url("../images/nav_separator.png");
    }

    div#navigation ul#main-menu {
    }

      div#navigation ul#main-menu .nav_separator {
        float: left;
      }

      div#navigation ul#main-menu li {
        float: left;
        padding: 0;
      }

        div#navigation ul#main-menu li a {
          display: block;
          font-size: 14px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          vertical-align: middle;
          padding: 0px 15px 0px 15px;
          line-height: 36px;
          text-decoration: none;
          color: #4D4B50
        }

          div#navigation ul#main-menu li a:hover {
            background: #6D137D;
            background: -webkit-gradient(linear, left top, left bottom, from(#520E5E), to(#6D137D));
            background: -moz-linear-gradient(top,  #520E5E,  #6D137D);
            color: #FFFFFF;
          }

    div#navigation ul#secondary-menu {
    }

      div#navigation ul#secondary-menu .nav_separator {
        float: right;
      }

      div#navigation ul#secondary-menu li {
        float:right;
      }

        div#navigation ul#secondary-menu li a {
          color: #6D137D;
        }

        div#navigation ul#secondary-menu li a {
          display: block;
          font-size: 14px;
          line-height: 36px;
          text-align: center;
          text-decoration: none;
          padding: 0px 15px 0px 15px;
        }

          div#navigation ul#secondary-menu li a:hover {
            color: #4D4B50;
          }


/**
 * CONTENT
 */
div#main-wrapper {

}

  div#main-wrapper div#main {
    margin: 0 auto;
  }

div.creator {
  color: #999999;
  font-size: 12px;
}

  div.creator a {
    color: #76AC10;
    text-decoration: none;
  }

    div.creator a:hover {
      text-decoration: underline;
    }

span.readmore {
}

  span.readmore a {
    color: #0681B0;
    text-decoration: none;
  }

    span.readmore a:hover {
      text-decoration: underline;
    }

p {
  line-height: 22px;
}

/**
 * FOOTER
 */

div#footer {
  background: url("../images/footer_bg.png");
  position: relative;
  margin-top: -366px;
  height: 366px;
  clear:both;
}

  div#footer div.section {
    margin: 0 auto;
    width: 1000px;
    height: 366px;
  }

  div#footer div.section h3 {
    color: #4D4B50;
  }

  div#footer div.section a {
    color: #6D137D;
    text-style: none;
    font-weight: bold;
  }

    div#footer div.section a:hover {
      color: #FFF;
      text-decoration: none;
    }


/**
 * PANELS HACKS
 */

.panel-3col .panel-col-first .inside, .panel-3col .panel-col .inside, .panel-3col .panel-col-last .inside {
  margin: 0;
  padding: 0;
}

.panel-3col .panel-col-first, .panel-3col .panel-col-last,
.panel-3col-stacked .panel-col-first, .panel-3col-stacked .panel-col-last {
  width: 224px;
}

.panel-3col .panel-col,
.panel-3col-stacked .panel-col,
.panel-2col .panel-col-first, .panel-2col .panel-col-last,
.panel-2col-bricks .panel-col-first, .panel-2col-bricks .panel-col-last,
.panel-2col-stacked .panel-col-first, .panel-2col-stacked .panel-col-last {
  width: 474px;
}

.panel-3col-stacked .panel-col-top, .panel-3col-stacked .panel-col-bottom,
.panel-2col-bricks .panel-col-top, .panel-2col-bricks .panel-col-middle, .panel-2col-bricks .panel-col-bottom,
.panel-2col-stacked .panel-col-top, .panel-2col-stacked .panel-col-bottom {
  width: 974px;
}

.panel-col-first {
  margin-right: 12px;
  
}

.panel-col-last {
  margin-left: 12px;
}

.panel-col {
  margin-right: 12px;
  margin-left: 12px;
}



/* MORE hacK */

ul.primary {
  border-bottom: 2px solid #C6C6C6;
  padding: 0px 0px 3px 0px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

ul.primary li {
}

ul.primary li a {
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #C6C6C6;
  border-bottom: 0;
}

ul.primary li a.active {
  color: #6D127C;
  background: #FFFFFF;
  border-bottom: 0;
}

ul.primary li a {
  color: #4D4A51;
  background: #E8E8E8;
  background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#E8E8E8));
  background: -moz-linear-gradient(top,  #F7F7F7,  #E8E8E8);
  padding: 5px 10px;
  margin-right: -2px;
}


/**
 * FACETS HACK
 */

.pane-ding-facetbrowser form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.pane-ding-facetbrowser form fieldset legend {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #C6C6C6;
  width: 100%;
  background-color: #F4F4F4;
}

.pane-ding-facetbrowser form fieldset span.fieldset-legend {
  font: 15px/22px 'DroidSerifRegular', Helvetica, Arial, sans-serif;
  color: #6D137D;
  padding-left: 5px;
}

.pane-ding-facetbrowser label{
  border-width: 0px;
  text-align:left;
}

/**
 * Style the breadcrumb
 */

#breadcrumb {
  margin-bottom: 25px;
}

#breadcrumb ul {
  background-color: #F4F4F4;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #C6C6C6;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

#breadcrumb li {
  background-image: url("../images/bc_bg.png");
  background-repeat: repeat-x;
  list-style-type: none;
  float: left;
  padding-left: 10px;
  display: inline-block;
}

#breadcrumb a {
  display: inline-block;
  background-image: url("../images/bc_separator.png");
  background-repeat: no-repeat; 
  background-position: right;
  padding-right: 15px;
  text-decoration: none;
  color: #999999;
  outline: none;
}

#breadcrumb a:hover, #breadcrumb li.active a {
  color: #4C4C4C;
}


/**
 * OVERRIDES
 */

.availability-legend-item .availability-label {
  color: #999999;
  font-weight: normal;
  font-size: 11px;
}

.availability-legend-item img {
  -moz-border-radius:6px;
  -webkit-border-radius: 6px;
  width: 12px;
  height: 12px;
}

.availability-legend-item.available img {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, rgb(111,164,12)), color-stop(0.83, rgb(86,128,8)));
  background-image: -moz-linear-gradient(center bottom, rgb(111,164,12) 30%, rgb(86,128,8) 83%);
}

.availability-legend-item.available-ill img {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, rgb(240,176,0)), color-stop(0.83, rgb(189,136,1)));
  background-image: -moz-linear-gradient(center bottom, rgb(240,176,0) 30%, rgb(189,136,1) 83%);
}

.availability-legend-item.on-loan img {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, rgb(197,26,23)), color-stop(0.83, rgb(156,18,16)));
  background-image: -moz-linear-gradient(center bottom, rgb(197,26,23) 30%, rgb(156,18,16) 83%);
}

.availability-legend-item.unavailable img { background-color: #4F4D52;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, rgb(73,72,77)), color-stop(0.83, rgb(57,57,59)));
  background-image: -moz-linear-gradient(center bottom, rgb(73,72,77) 30%, rgb(57,57,59) 83%);
}
